.header {
  background-color: #ea0000;
  height: 6rem;
}
.header-logo {
  width: 12.4rem;
  height: 4.8rem;
}
.header-logo img {
  width: 100%;
  height: 100%;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 12.5rem;
}
.header-content-logo {
  height: 100%;
}
.header-content-logo a {
  padding-bottom: 0.5rem;
  color: #fff !important;
}
.header-content-logo a svg {
  height: 100%;
}
.header-content-logo:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.header-content-logo:hover a {
  color: red !important;
}
.header-content-menu {
  height: 100%;
}
.header-content-menu__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  height: 100%;
}
.header-content-menu__list--item {
  font-weight: 800;
  font-size: 1.3rem;
  font-family: "UTMhel";
  text-transform: uppercase;
  padding: 0 0.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-content-menu__list--item a {
  color: #fff !important;
  text-decoration: none;
}
.header-content-menu__list--item:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.header-content-menu__list--item:hover a {
  color: red !important;
}
.header-content-search {
  padding-bottom: 0.5rem;
  color: #fff;
  height: 100%;
}
.header-content-search svg {
  height: 100%;
}
.header-content-logo:hover, .header-content-search:hover {
  background-color: rgb(255, 255, 255);
  color: red;
  cursor: pointer;
}

.footer-border::after {
  content: "";
  position: absolute;
  height: 80%;
  top: 4rem;
  right: 62%;
  border: 1px solid #444;
}

.footer-contact-border::after {
  content: "";
  position: absolute;
  height: 80%;
  top: 4rem;
  right: 40.5%;
  border: 1px solid #444;
}

.footer {
  position: relative;
  background-color: #333;
  color: #fff;
  padding-bottom: 2rem;
  border-top: 4px solid #ea0000;
}
.footer-logo {
  width: 17rem;
  height: 7rem;
  margin-top: 4rem;
  margin-bottom: 1.6rem;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.footer-text {
  color: #bbb;
  font-size: 1.4rem;
  padding-right: 6rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: robotolabB;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.footer-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2.5rem;
  margin-left: 0;
}
.footer-list-item {
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #bbb;
}
.footer-list-item__icon {
  margin-right: 1.2rem;
  font-size: 1.2rem;
}
.footer-list-item span {
  color: #fff;
  font-weight: 600;
  font-family: robotoslab-regular;
  margin-right: 0.3rem;
}
.footer-social-list {
  display: flex;
  list-style: none;
  color: #bbb;
}
.footer-social-list__item {
  border-right: 1px solid #fff;
  margin-right: 1rem;
  font-size: 1.6rem;
}
.footer-social-list__item i {
  margin-right: 2rem;
}
.footer-social-list__item:nth-child(2) {
  color: #ea0000;
}
.footer-social-list__item:last-child {
  border-right: none;
}
.footer-download-heading {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: robotolabB;
  text-transform: uppercase;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.footer-download-app {
  display: flex;
  color: #444;
}
.footer-download-app__apple, .footer-download-app__android {
  background-color: #444;
  padding: 2rem;
  border-radius: 1.2rem;
}
.footer-download-app__apple i, .footer-download-app__apple svg, .footer-download-app__android i, .footer-download-app__android svg {
  color: #999;
}
.footer-download-app__apple {
  margin-right: 2.5rem;
  padding: 2rem 2.5rem;
}
.footer-download-app__apple i {
  font-size: 4rem;
}
.footer-download-app__apple:hover {
  cursor: pointer;
  background-color: #0269e2;
  color: #fff;
}
.footer-download-app__android:hover {
  cursor: pointer;
  color: #fff;
  background-color: #97c024;
}
.footer-download-text {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #999;
}

.container-width {
  max-width: 1200px;
  margin: 0 auto;
}

.hght {
  height: 100%;
}

html,
body {
  font-size: 1.6rem;
  line-height: 1em;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  box-sizing: border-box;
}

.bg-color-main {
  background-color: #f2f2f2;
}

.content .news-title {
  color: #ea0000;
  font-size: 1.8rem;
  font-family: UTMhel;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
  position: relative;
}
.content .news-title::before {
  content: "";
  position: absolute;
  top: -1rem;
  width: 100%;
  border-top: 3px solid #ea0000;
}
.content .news-scroll {
  max-height: 39vh;
  overflow-x: hidden;
}
.content .news-scroll {
  scrollbar-width: thin;
  scrollbar-color: #8f54a0 #ffffff;
}
.content .news-scroll::-webkit-scrollbar {
  width: 5px;
}
.content .news-scroll::-webkit-scrollbar-track {
  background: #ccc;
}
.content .news-scroll::-webkit-scrollbar-thumb {
  background-color: #736f6f;
  height: 5px;
}
.content .bg-cl {
  background-color: #f4f4f4;
}
.content-news .hot-news {
  margin-top: 3rem;
}
.content-news .hot-news-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.content-news .hot-news-list__item {
  border: 1px solid #444;
  padding: 1.4rem 1.2rem;
}
.content-news .hot-news-list__item a {
  text-decoration: none;
  color: #333;
  line-height: 1.2em;
  font-size: 1.6rem;
}
.content-news .current-new {
  margin-top: 2rem;
}
.content-news .current-new-content__image {
  height: 30rem;
}
.content-news .current-new-content__image img {
  object-fit: cover;
}
.content-news .current-new-content__heading {
  color: #333;
  font-weight: 700;
  font-size: 2rem;
  margin: 1.4rem 0 1.4rem;
}
.content-news .current-new-content__text {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.4rem;
  font-size: 1.6rem;
}
.content-news .current-new-content__detail--text {
  font-size: 1.4rem;
  margin-top: 1.1rem;
  margin-bottom: 1.3rem;
  text-decoration: none;
  color: #444;
}
.content-news .reads-news-video {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.content-news .reads-news-image {
  margin-top: 1.4rem;
}
.content-news .reads-news-heading {
  padding-top: 1.6rem;
  padding-bottom: 1.8rem;
  padding-left: 0.8rem;
  background-color: #f4f4f4;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.content-news .reads-news-content__text {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  line-height: 1.3em;
}
.content-news-details .latest-news-content {
  border-bottom: 1px solid #ccc;
}
.content-news-details .latest-news-content__image {
  width: 9.9rem;
  height: 6.4rem;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
  margin-right: 1.2rem;
}
.content-news-details .latest-news-content__image img {
  width: 100%;
  height: 100%;
}
.content-news-details .latest-news-content__heading {
  margin-top: 0.5rem;
}
.content-news-details .transfer-news,
.content-news-details .english-football,
.content-news-details .spanish-football,
.content-news-details .vietnam-football,
.content-news-details .backstage,
.content-news-details .champions-league {
  margin-bottom: 2rem;
}
.content-news-details .transfer-news-left__image,
.content-news-details .english-football-left__image,
.content-news-details .spanish-football-left__image,
.content-news-details .vietnam-football-left__image,
.content-news-details .backstage-left__image,
.content-news-details .champions-league-left__image {
  height: 24.2rem;
}
.content-news-details .transfer-news-left__image img,
.content-news-details .english-football-left__image img,
.content-news-details .spanish-football-left__image img,
.content-news-details .vietnam-football-left__image img,
.content-news-details .backstage-left__image img,
.content-news-details .champions-league-left__image img {
  height: 100%;
}
.content-news-details .transfer-news-left__heading,
.content-news-details .english-football-left__heading,
.content-news-details .spanish-football-left__heading,
.content-news-details .vietnam-football-left__heading,
.content-news-details .backstage-left__heading,
.content-news-details .champions-league-left__heading {
  font-size: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
}
.content-news-details .transfer-news-left__text,
.content-news-details .english-football-left__text,
.content-news-details .spanish-football-left__text,
.content-news-details .vietnam-football-left__text,
.content-news-details .backstage-left__text,
.content-news-details .champions-league-left__text {
  color: #444;
  font-size: 1.6rem;
}
.content-news-details .transfer-news-right,
.content-news-details .english-football-right,
.content-news-details .spanish-football-right,
.content-news-details .vietnam-football-right,
.content-news-details .backstage-right,
.content-news-details .champions-league-right {
  border-bottom: 1px solid #ccc;
}
.content-news-details .transfer-news-right__image,
.content-news-details .english-football-right__image,
.content-news-details .spanish-football-right__image,
.content-news-details .vietnam-football-right__image,
.content-news-details .backstage-right__image,
.content-news-details .champions-league-right__image {
  width: 9.9rem;
  height: 6.4rem;
  margin-bottom: 1rem;
  margin-right: 1.2rem;
}
.content-news-details .transfer-news-right__image img,
.content-news-details .english-football-right__image img,
.content-news-details .spanish-football-right__image img,
.content-news-details .vietnam-football-right__image img,
.content-news-details .backstage-right__image img,
.content-news-details .champions-league-right__image img {
  width: 100%;
  height: 100%;
}
.content-news-details .photo-left,
.content-news-details .video-left {
  position: relative;
}
.content-news-details .photo-left-image,
.content-news-details .video-left-image {
  height: 29.5rem;
}
.content-news-details .photo-left-heading,
.content-news-details .video-left-heading {
  position: absolute;
  bottom: -1rem;
  background-color: #333;
  color: #fff;
  font-size: 2.6rem;
  padding: 1.4rem;
}
.content-news-details .photo-right,
.content-news-details .video-right {
  position: relative;
}
.content-news-details .photo-right-image,
.content-news-details .video-right-image {
  margin-bottom: 2.5rem;
}
.content-news-details .photo-right-heading,
.content-news-details .video-right-heading {
  position: absolute;
  bottom: -1rem;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.4rem;
}
.content-news-details .soccer-news-one .europa-league-heading,
.content-news-details .soccer-news-one .italian-football-heading {
  font-size: 2.18rem;
  margin-bottom: 3rem;
}
.content-news-details .soccer-news-one .europa-league-list,
.content-news-details .soccer-news-one .italian-football-list {
  list-style: square;
  padding-left: 0;
  margin-left: 2rem;
}
.content-news-details .soccer-news-one .europa-league-list__item,
.content-news-details .soccer-news-one .italian-football-list__item {
  border-top: 1px solid #ccc;
}
.content-news-details .soccer-news-one .europa-league-list__item a,
.content-news-details .soccer-news-one .italian-football-list__item a {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.2em;
  display: block;
}
.content-news-details .soccer-news-two .german-football-heading,
.content-news-details .soccer-news-two .french-football-heading {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.content-news-details .soccer-news-two .german-football-list,
.content-news-details .soccer-news-two .french-football-list {
  list-style: square;
  padding-left: 0;
  margin-left: 2rem;
}
.content-news-details .soccer-news-two .german-football-list__item,
.content-news-details .soccer-news-two .french-football-list__item {
  border-top: 1px solid #ccc;
}
.content-news-details .soccer-news-two .german-football-list__item a,
.content-news-details .soccer-news-two .french-football-list__item a {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  line-height: 1.2em;
  display: block;
}
.content .bg-color-white {
  background-color: #fff;
}
.content .boder-left {
  border: 1px solid #fff;
  background-image: linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd);
  background-repeat: no-repeat;
  background-size: 0, 0, 1px 65%, 90% 1px;
  background-position: left bottom, left bottom, right top, right top, 1px 1px;
}
.content .latest-details {
  margin-top: 3rem;
}
.content .latest-details .hot-news {
  padding: 3rem 1rem 0;
}
.content .latest-details .hot-news-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.content .latest-details .hot-news-list__item {
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}
.content .latest-details .hot-news-list__item a {
  text-decoration: none;
  color: #333;
  line-height: 1.2em;
  font-size: 1.5rem;
}
.content .latest-details .hot-news-list__item:last-child {
  border: none;
}
.content .latest-details .news-details-focus {
  padding: 0 1rem 0;
}
.content .latest-details .news-details-focus__list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.content .latest-details .news-details-focus__list--item {
  padding: 0.5rem 0;
}
.content .latest-details .news-details-focus__list--item a {
  text-decoration: none;
  color: #333;
  line-height: 1.2em;
  font-size: 1.6rem;
}
.content .latest-details .news-details-focus__list--item-text {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.content .latest-details .current-new {
  margin-top: 2rem;
}
.content .latest-details .current-new-content {
  position: relative;
  padding: 0 1rem;
}
.content .latest-details .current-new-content__image {
  height: 43rem;
  margin-bottom: 0.8rem;
}
.content .latest-details .current-new-content__image img {
  object-fit: cover;
}
.content .latest-details .current-new-content__info {
  position: absolute;
  top: 30rem;
  color: #fff;
  padding: 0 1.8rem;
}
.content .latest-details .current-new-content__info--heading {
  font-weight: 700;
  font-size: 2.6rem;
  margin: 0 0 1rem;
}
.content .latest-details .current-new-content__info--date {
  font-size: 1.2rem;
}
.content .latest-details .current-new-content__info--text {
  padding-bottom: 1.4rem;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}
.content .latest-details .current-new-content__list {
  margin-left: 0;
  padding-left: 0;
}
.content .latest-details .current-new-content__list--item {
  border: 1px solid #fff;
  background-image: linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd);
  background-repeat: no-repeat;
  background-size: 0, 99% 1px, 0, 0;
  background-position: right bottom;
}
.content .latest-details .current-new-content__list--item-image {
  height: 13rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.content .latest-details .current-new-content__list--item-info {
  margin-top: 1.4rem;
}
.content .latest-details .current-new-content__list--item-info a {
  text-decoration: none;
  color: #333;
}
.content .latest-details .current-new-content__list--item-info a h4 {
  font-size: 1.6rem;
  font-weight: 800;
}
.content .latest-details .current-new-content__list--item-info a:hover {
  color: #ea0000;
}
.content .latest-details .current-new-content__list--item-info p {
  font-size: 1.5rem;
  color: #444;
  margin-top: 1.5rem;
}
.content .latest-details .current-new-content .pagination {
  justify-content: center;
  margin-bottom: 2rem;
}
.content .latest-details .current-new-content .pagination-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.content .latest-details .current-new-content .pagination-list-item {
  margin: 0 0.6rem;
}
.content .latest-details .current-new-content .pagination-list-item__btn {
  background: #f3f3f3;
  color: #777;
  border: 1px solid #d9d9d9;
  font-size: 1.5rem;
  border-radius: 0;
}
.content .latest-details .current-new-content .pagination-list-item__btn:hover {
  border: 1px solid #ea0000;
  color: #ea0000;
}
.content .latest-details .reads-news {
  padding-right: 0.5rem;
}
.content .latest-details .reads-news-video {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.content .latest-details .reads-news-image {
  margin-top: 1.4rem;
}
.content .latest-details .reads-news-heading {
  padding-top: 1.6rem;
  padding-bottom: 1.8rem;
  padding-left: 0.8rem;
  background-color: #f4f4f4;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.content .latest-details .reads-news-content__text {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  line-height: 1.3em;
}/*# sourceMappingURL=style.css.map */