//footer
.footer-border::after {
    content: "";
    position: absolute;
    height: 80%;
    top: 4rem;
    right: 62%;
    border: 1px solid #444;
}
.footer-contact-border::after {
    content: "";
    position: absolute;
    height: 80%;
    top: 4rem;
    right: 40.5%;
    border: 1px solid #444;
}
.footer{
    position: relative;
    background-color: #333;
    color: #fff;
    padding-bottom: 2rem;
    border-top: 4px solid #ea0000;
    &-logo {
        width: 17rem;
        height: 7rem;
        margin-top: 4rem;
        margin-bottom: 1.6rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-text {
        color: #bbb;
        font-size: 1.4rem;
        padding-right: 6rem;
    }
    &-heading {
        font-size: 1.8rem;
        font-weight: 600;
        font-family: robotolabB;
        text-transform: uppercase;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    &-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 2.5rem;

        &-item { 
            color: #bbb;
            display: flex;
            font-size: 1.4rem;
            margin-bottom: 1rem;

            &__icon {
                margin-right: 1.2rem;
                font-size: 1.2rem;
            }
            span {
                color: #fff;
                font-weight: 600;
                font-family: robotoslab-regular;
                margin-right: 0.3rem;
            }
        }
    }
    &-social {
        &-list {
            display: flex;
            list-style: none;
            color: #bbb;

            &__item {
                border-right: 1px solid #fff;
                margin-right: 1rem;
                i {
                    margin-right: 2rem;
                }
            }
        }
        &-list {
            &__item:nth-child(2) {
                color: #ea0000;
            }
        }
        &-list {
            &__item:last-child {
                border-right: none;
            }
        }
    }
    &-download {
        &-heading {
            font-size: 1.8rem;
            font-weight: 600;
            font-family: robotolabB;
            text-transform: uppercase;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
        &-app {
            display: flex;
            color: #444;
            &__apple,
            &__android {
                background-color: #444;
                padding: 2rem;
                border-radius: 1.2rem;
                i,svg {
                    color: #999;
                }
            }
            &__apple { 
                margin-right: 2.5rem;
                padding: 2rem 2.5rem;
                i {
                    font-size: 4rem;
                }
            }
            &__apple:hover {
                cursor: pointer;
                background-color: #0269e2;
                color: #fff;
            }
            &__android:hover {
                cursor: pointer;
                color: #fff;
                background-color: #97c024;
            }
        }
        &-text {
            margin-top: 2rem;
            font-size: 1.5rem;
            color: #999;
        }
    }
}